@model IEnumerable<Cinema.Models.Movie>

@{
    ViewData["Title"] = "Доступные фильмы";
}
<section class="filters">
    <h2 class="text-sec">Фильтры</h2>
    <form class="filters-wrapper">
        <div class="filters__option filters__name">
            <p class="filters__option-title text-sec">Поиск по названию фильма</p>
            <input class="filters__name-input js-searching-name" />
        </div>
            <div class="filters__option">
                <p class="filters__option-title text-sec">Поиск по времени показа</p>
                <select class="filters__time js-searching-time">
                    <option value="none" selected></option>
                    <option value="morning">Утро</option>
                    <option value="day">День</option>
                    <option value="evening">Вечер</option>
                    <option value="night">Ночь</option>
                </select>
            </div>
            <div class="filters__option">
                <p class="filters__option-title text-sec">Поиск по времени показа</p>
                <select class="filters__date js-searching-date">
                    <option value="none" selected></option>
                    @foreach (String dateTime in ViewBag.AllowedDates)
                    {
                        <option value="@dateTime">@dateTime</option>
                    }
                </select>
            </div>
            <button type="reset" class="filters__reset js-filters-reset">
                Очистить
            </button>
</form>
</section>
<section>
    <h2 class="text-sec">Достпуные фильмы</h2>
    <ul class="row p-0" style="list-style: none">
        @foreach (var item in Model)
        {
            <li class="col-sm-12 col-md-4 col-lg-3 js-movie" style="margin-bottom: 20px;">
                <article class="card p-0">
                    <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/img/@item.Poster" class="card-img-top" />
                        </a>
                        <div class="p-15">
                            <h3 class="card-title">@item.Title</h3>
                            <p>@item.Director</p>
                            <p>@item.Rating</p>
                            @{
                                ViewBag.sessionHref = "#sessions" + item.Id;
                                ViewBag.sessionId = "sessions" + item.Id;
                            }
                            <a data-toggle="collapse" href="@ViewBag.sessionHref" role="button" aria-expanded="false" aria-controls="sessions">Достпуные сеансы</a>
                            <ul class="collapse multi-collapse" id="@ViewBag.sessionId">
                                @foreach (Session session in ViewBag.Sessions[item.Id])
                                {
                                <li class="js-session">
                                    <a asp-controller="Session" asp-action="Index" asp-route-id="@session.Id">
                                        <span class="js-session-date">@session.ShowTime.Day.@session.ShowTime.Month.@session.ShowTime.Year</span> <span class="js-session-time">@session.ShowTime.TimeOfDay</span>
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                </article>
            </li>
        }
    </ul>
</section>

<script src="~/js/moviesFilter.js"></script>